<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>RESERVA DE MATRÍCULA ONLINE</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>

	<div class="container">
		<h1>RESERVA MATRÍCULA:</h1>

		<form action="/grabar" method="post" th:object="${producto}">

			<div class="form-group">
				<label for="inputAddress">Codigo :</label>
				<input th:field="*{id_carrera}" type="text" class="form-control" id="inputAddress"
					placeholder="Ingrese codigo">
			</div>

			<div class="form-group">
				<label for="inputAddress">Nombre:</label>
				<input th:field="*{nombre}" type="text" class="form-control" id="inputAddress"
					placeholder="Ingrese nombre del alumno">
			</div>
				<div class="form-group">
				<label for="inputAddress">Apellido:</label>
				<input th:field="*{apellido}" type="text" class="form-control" id="inputAddress"
					placeholder="Ingrese apellido del alumno">
			</div>
			<from action="/reporte/listar" method="post">
				<div class="form-row">
					<div class="form-group col-md-4">
						<label for="inputCat">Carrera</label>
						<select id="inputCat" class="form-control" name="descricion">
							<option value="-1">Seleccione...</option>
							<!-- for each for(clase v : listado)-->
							<option th:each="c : ${lstcarrera}" th:value="${c.idcarrera}"
								th:text="${c.descripcion}">
							</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="inputAddress">Fecha :</label>
					<input th:field="*{fecha}" type="text" class="form-control" id="inputAddress"
						placeholder="Ingrese La fecha">
				</div>
				<button type="submit" class="btn btn-primary">registrar</button>
				<a href="/reporte" class="btn btn-primary">Reporte</a>
				<a href="/grafico" class="btn btn-secondary">pdf</a>
			</from>
			<br>



	<!--<div th:if="${success} != null" class="alert alert-success" role="alert" th:text="${success}"></div>
	<div th:if="${error} !=null" class="alert alert-danger" role="alert" th:text="${error}"></div>
-->



</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>

</html>