<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Ciberfarma</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>

	<div class="container">
		<h1>Lista de productos</h1>
		<from action="/reporte/listar" method="post">
			<div class="form-row">
				<div class="form-group col-md-4">
					<label for="inputCat">Categoria</label>
					<select id="inputCat" class="form-control" name="categoria">
						<option value="-1">Seleccione...</option>
						<!-- for each for(clase v : listado)-->
						<option th:each="c : ${lstCategorias}" th:value="${c.idcategoria}" th:text="${c.descripcion}">
						</option>
					</select>
				</div>
			</div>
			<button type="submit" class="btn btn-primary">registrar</button>
			<a href="/reporte" class="btn btn-primary">Reporte</a>
			<a href="/grafico" class="btn btn-secondary">pdf</a>
		</from>
		<br>

				<tr th:each="p : ${lstProductos}">
					<th scope="row" th:text="${p.idprod}"></th>
					<td th:text="${p.des_prod}"></td>
					<td th:text="${p.stock}"></td>
					<td th:text="${p.precio}"></td>
					<!-- <td th:text="${p.idcategoria}"></td> -->
					<td th:text="${p.categoria.descripcion}"></td>
					<td>
						<form action="/producto/editar" method="post">
							<input type="hidden" name="idprod" th:value="${p.idprod}">
							<button type="submit" class="btn btn-info">Editar</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>

	</div>


	<div th:if="${success} != null" class="alert alert-success" role="alert" th:text="${success}"></div>
	<div th:if="${error} !=null" class="alert alert-danger" role="alert" th:text="${error}"></div>




</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>

</html>